.login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  width: 100%;
}

.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
  }